@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
}

body{
    background-color:#46aaf5;
    min-width: 320px;    
    background: linear-gradient(to bottom, #46aaf5, #ffffff);

}

.card{
    padding-bottom: 2px;
    z-index: 1000;
}

.btn.btn-primary{
    background-color: #46aaf5;
}

       /* Estilos para imágenes del carrusel */
       .carousel-inner img {
        height: 400px; /* Ajusta el tamaño según tus necesidades */
        object-fit: cover;
    }

    /* Estilos para tarjetas */
    .card {
        height: 100%; /* Permite que todas las tarjetas tengan el mismo alto */
    }

    .card img {
        height: 150px; /* Ajusta el tamaño de la imagen */
        opacity: 1;
        object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Espaciado entre título, texto y botón */
    }